!Xcursor.size: 6
Xft.dpi: 144

! URxvt

! General settings
URxvt.saveLines: 200000
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
URxvt.termName: xterm-256color
URxvt.urgentOnBell: True
URxvt.cursorBlink: True

! Extensions
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select,font-size
URxvt.urlLauncher: xdg-open
URxvt.urlButton: 1
URxvt.underlineURLs: True

URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

! Keybindings
!URxvt.keysym.Mod4-c: clipboard:copy
!URxvt.keysym.Mod4-v: clipboard:paste
URxvt.keysym.Mod4-c: clipboard:copy
URxvt.keysym.Mod4-v: clipboard:paste
URxvt.keysym.Control-Alt-Tab: exit\n
URxvt.keysym.Mod4-C-v: clipboard:paste_escaped
URxvt.keysym.M-c: clipboard:copy
URxvt.keysym.M-v: clipboard:paste
URxvt.keysym.M-C-v: clipboard:paste_escaped
URxvt.keysym.M-Escape: keyboard-select:activate
URxvt.keysym.C-Escape: keyboard-select:activate
URxvt.keysym.M-u: url-select:select_next

! Fonts

!Inconsolata
!URxvt.font: xft:Iosevka-12:pixelsize=16:style=medium
!URxvt.boldFont: xft:Iosevka-12:pixelsize=16:style=Extrabold
!URxvt.font: xft:Iosevka-12:style=medium
!URxvt.boldFont: xft:Iosevka-12:style=Extrabold
URxvt.font: xft:Iosevka-13:style=medium
URxvt.boldFont: xft:Iosevka-13:style=Extrabold
!URxvt.font: xft: Iosevka-12:pixelsize=20
!URxvt.boldFont: xft: Iosevka-12:pixelsize=20:style=bold
!URxvt.letterSpace: -1

! Tango theme

! URxvt.background: #1C1C1C
! URxvt.foreground: #DEDEDE

! Wal Colors
wal.color0: #000000
wal.color1: #A7998C
wal.color2: #B5A799
wal.color3: #93A0A2
wal.color4: #B9AEA4
wal.color5: #C2B09D
wal.color6: #C7B8AA
wal.color7: #dfd7d0
wal.color8: #9c9691
wal.color9: #A7998C
wal.color10: #B5A799
wal.color11: #93A0A2
wal.color12: #B9AEA4
wal.color13: #C2B09D
wal.color14: #C7B8AA
wal.color15: #dfd7d0

! black
URxvt.color0  : #2E3436
URxvt.color8  : #555753
! red
URxvt.color1  : #CC0000
URxvt.color9  : #EF2929
! green
URxvt.color2  : #4E9A06
URxvt.color10 : #8AE234
! yellow
URxvt.color3  : #C4A000
URxvt.color11 : #FCE94F
! blue
URxvt.color4  : #3465A4
URxvt.color12 : #729FCF
! magenta
URxvt.color5  : #75507B
URxvt.color13 : #AD7FA8
! cyan
URxvt.color6  : #06989A
URxvt.color14 : #34E2E2
! white
URxvt.color7  : #D3D7CF
URxvt.color15 : #EEEEEC

! XTerm

! General settings
XTerm*termName: xterm-256color
XTerm*geometry: 80x24
XTerm*saveLines: 1024
XTerm*scrollBar: False
XTerm*loginshell: False
XTerm*cursorBlink: True

! Fonts and Encoding
XTerm*utf8: True
XTerm*locale: True
XTerm*utf8Title: True
XTerm*renderFont: True
XTerm*preeditType: Root
XTerm*xftAntialias: true
XTerm*faceName: xft:Inconsolata-12

! Trim trailing spaces
XTerm*trimSelection: true

! Fix alt-key inputting
XTerm*eightBitInput: false
XTerm*metaSendsEscape: true

! Copy and paste with clipboard
XTerm*translations: #override \
	Ctrl Shift C: copy-selection(CLIPBOARD) 
\n\
	Ctrl Shift V: insert-selection(CLIPBOARD)

! Allow selecting email/url by double-click
XTerm*charClass: 
33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

! Tango Theme

XTerm*background: #1C1C1C
XTerm*foreground: #DEDEDE

! black
XTerm*color0  : #2E3436
XTerm*color8  : #555753
! red
XTerm*color1  : #CC0000
XTerm*color9  : #EF2929
! green
XTerm*color2  : #4E9A06
XTerm*color10 : #8AE234
! yellow
XTerm*color3  : #C4A000
XTerm*color11 : #FCE94F
! blue
XTerm*color4  : #3465A4
XTerm*color12 : #729FCF
! magenta
XTerm*color5  : #75507B
XTerm*color13 : #AD7FA8
! cyan
XTerm*color6  : #06989A
XTerm*color14 : #34E2E2
! white
XTerm*color7  : #D3D7CF
XTerm*color15 : #EEEEEC

!URxvt.transparent:   true
URxvt.transparent:   false
!URxvt.shading: 30
!URxvt.shading: 80
urxvt*depth: 		 32
urxvt*background:    rgba:0000/0000/0000/0000
!urxvt*background:    rgba:ffff/ffff/ffff/ffff
! SLOOOOWW
!urxvt*blurRadius: 100

URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
